<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="{{ `images/personalize.png` | relURL }}" width="125" height="100" alt="Bootstrap">
        <h2 class="h2">Personalize your dining experience <small class="d-none">🛡️</small></h2>
        <p>Enhance your restaurant journey by adding personal notes, ratings, and memories to your past visits. 
            Keep track of your favorite dishes, rate your experiences, and jot down special moments to relive them later. 
            With these personalized touches, every meal becomes a cherished memory.</p>
    </div>
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="{{ `images/utensil.png` | relURL }}" width="140" height="100" alt="Bootstrap">
        <h2 class="h2">Recommendations based on your taste <small class="d-none">🚀</small></h2>
        <p>Discover curated recommendations tailored to your restaurant preferences. Our system analyzes your tastes and suggests dishes and restaurants that you'll love. 
            Whether you're exploring new cuisines or sticking to your favorites, we ensure every recommendation hits the mark.</p>
    </div>
    <div class="col-lg-4">
        <img class="d-block mx-auto mb-3" src="{{ `images/plan.png` | relURL }}" width="100" height="100" alt="Bootstrap">
        <h2 class="h2">Plan your dream culinary gathering <small class="d-none">📈</small></h2>
        <p>Organize the ultimate culinary event with ease. From intimate dinners to large-scale gatherings, our platform provides everything you need to plan seamlessly. 
            Access expert tips, customizable templates, and step-by-step guides to ensure your event is a memorable success. </p>
    </div>
</div>


<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Top Restaurants Map <small class="d-none">🛡️</small></h2>
        <p>Explore the map to find top-rated restaurants near you.</p>
        <img class="d-block mx-auto mb-3" src="{{ `images/map.png` | relURL }}" width="300" height="425" alt="Bootstrap">
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Food visuals <small class="d-none">🚀</small></h2>
        <p>Check out the gallery of dishes from top-rated spots.</p>
        <img class="d-block mx-auto mb-3" src="{{ `images/foodtotal.png` | relURL }}" width="350" height="350" alt="Bootstrap">
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Organize your favorite restaurants <small class="d-none">📈</small></h2>
        <p> Use our list function to organize, plan, and review your past or future restaurant endeavors. </p>
        <img class="d-block mx-auto mb-3" src="{{ `images/list.png` | relURL }}" width="200" height="350" alt="Bootstrap">

    </div>
</div>
